@model IEnumerable<BookWorm.Models.Books>

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("New Book", "NewBook", "Books", null, new { @class = "btn btn-primary" })</p>

<table class="table table-bordered table-hover">
    <thead class="colored-tablehead">
        <tr>
            <th>
                @Html.DisplayNameFor(book => book.CoverArt)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.Description)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.BookSeries)
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

    @foreach (var book in Model) {
        <tr>
            <td>
                <img class="coverSize" src="@Url.Content(book.CoverArt)" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.BookSeries)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = book.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "QuoteSummary", new { quoteId = book.Id })
            </td>
        </tr>
    }
</table>