<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - BookWorm</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    
    <body>
        <div class="container body-content">
            <h1 class="shared-text title-heading">Bookworm</h1>
            <nav class='navbar navbar-default'>
                <div class='container-fluid container'>
                    @Html.ActionLink("Book List", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Search for Books", "Index", "Search", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </nav>
            
            <hr class="underline-border" />
            <h3 class="shared-text">@ViewBag.PageTitle</h3>
            <div class="body-padding">
                @RenderBody()
            </div>
            
            <hr class="underline-border"/>
            <footer>
                <p class="footNote shared-text">&copy; @DateTime.Now.Year - BookWorm by Yamil Burgos</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
    </body>
</html>