@model IEnumerable<BookWorm.Models.Books>

@foreach (var book in Model) {
    <tr>
        <td>
            <img class="coverSize" src="@Url.Content(book.CoverArt)" alt="Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.BookSeries)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBook", "Books", new { id = book.Id }, new { @class = "btn btn-primary" })
            
            @using (Html.BeginForm("DeleteBook", "Books", new { id = book.Id })) {
                <button type="submit" onclick="return confirm('Really delete this Book?')" class="btn btn-primary">
                    Delete
                </button>
            }
        </td>
    </tr>
}